In [1]:
import os
import csv

In [2]:
budgetpath = os.path.join('Resources','budget_data.csv')
budgetpath

'Resources/budget_data.csv'

In [44]:
with open(budgetpath) as csvfile:
    
    budgetreader = csv.reader(csvfile, delimiter=",")
    
    print(budgetreader)
    budget_header = next(budgetreader)
    print(f"Header: {budget_header}")

    for row in budgetreader:
        
        print(row)

<_csv.reader object at 0x7fd608022580>
Header: ['Date', 'Profit/Losses']
['Jan-10', '1088983']
['Feb-10', '-354534']
['Mar-10', '276622']
['Apr-10', '-728133']
['May-10', '852993']
['Jun-10', '563721']
['Jul-10', '-535208']
['Aug-10', '632349']
['Sep-10', '-173744']
['Oct-10', '950741']
['Nov-10', '-785750']
['Dec-10', '-1194133']
['Jan-11', '-589576']
['Feb-11', '-883921']
['Mar-11', '443564']
['Apr-11', '837887']
['May-11', '1081472']
['Jun-11', '464033']
['Jul-11', '-1066544']
['Aug-11', '323846']
['Sep-11', '-806551']
['Oct-11', '487053']
['Nov-11', '1128811']
['Dec-11', '791398']
['Jan-12', '739367']
['Feb-12', '-197825']
['Mar-12', '666016']
['Apr-12', '589771']
['May-12', '489290']
['Jun-12', '-471439']
['Jul-12', '120417']
['Aug-12', '175347']
['Sep-12', '855449']
['Oct-12', '605195']
['Nov-12', '-235220']
['Dec-12', '347138']
['Jan-13', '298510']
['Feb-13', '163254']
['Mar-13', '1141840']
['Apr-13', '542630']
['May-13', '99841']
['Jun-13', '752765']
['Jul-13', '-252949']
['Aug-13', '914424']
['Sep-13', '679524']
['Oct-13', '514377']
['Nov-13', '462102']
['Dec-13', '159782']
['Jan-14', '878810']
['Feb-14', '-946748']
['Mar-14', '340335']
['Apr-14', '292032']
['May-14', '502266']
['Jun-14', '265852']
['Jul-14', '851017']
['Aug-14', '-549615']
['Sep-14', '290162']
['Oct-14', '755391']
['Nov-14', '1073202']
['Dec-14', '313000']
['Jan-15', '241132']
['Feb-15', '1036589']
['Mar-15', '853904']
['Apr-15', '-388932']
['May-15', '982952']
['Jun-15', '537759']
['Jul-15', '547784']
['Aug-15', '-496214']
['Sep-15', '854181']
['Oct-15', '934719']
['Nov-15', '-288531']
['Dec-15', '-184383']
['Jan-16', '659541']
['Feb-16', '-1149123']
['Mar-16', '355882']
['Apr-16', '662284']
['May-16', '518681']
['Jun-16', '-748256']
['Jul-16', '-910775']
['Aug-16', '951227']
['Sep-16', '898241']
['Oct-16', '-729004']
['Nov-16', '-112209']
['Dec-16', '516313']
['Jan-17', '607208']
['Feb-17', '382539']

In [4]:
with open(budgetpath) as csvfile:
    
    budgetreader = csv.reader(csvfile, delimiter=",")

    for row in budgetreader:
        
        total_months = sum(1 for row in budgetreader)
        
        print(total_months)

86

In [43]:

with open(budgetpath) as csvfile:
    total = 0
    sum_ = []
    budgetreader = csv.reader(csvfile, delimiter=",")
    budget_header = next(budgetreader)
    
    for row in budgetreader:
        
        sum_.append(int(row[1]))
        
        total = sum(sum_)
        
print(total)

22564198

In [58]:
change = []
for row in sum_:
    difference = row
    change.append(difference)
    
print(change)

[1088983, -354534, 276622, -728133, 852993, 563721, -535208, 632349, -173744, 950741, -785750, -1194133, -589576, -883921, 443564, 837887, 1081472, 464033, -1066544, 323846, -806551, 487053, 1128811, 791398, 739367, -197825, 666016, 589771, 489290, -471439, 120417, 175347, 855449, 605195, -235220, 347138, 298510, 163254, 1141840, 542630, 99841, 752765, -252949, 914424, 679524, 514377, 462102, 159782, 878810, -946748, 340335, 292032, 502266, 265852, 851017, -549615, 290162, 755391, 1073202, 313000, 241132, 1036589, 853904, -388932, 982952, 537759, 547784, -496214, 854181, 934719, -288531, -184383, 659541, -1149123, 355882, 662284, 518681, -748256, -910775, 951227, 898241, -729004, -112209, 516313, 607208, 382539]

In [52]:
sum_

[1088983,
 -354534,
 276622,
 -728133,
 852993,
 563721,
 -535208,
 632349,
 -173744,
 950741,
 -785750,
 -1194133,
 -589576,
 -883921,
 443564,
 837887,
 1081472,
 464033,
 -1066544,
 323846,
 -806551,
 487053,
 1128811,
 791398,
 739367,
 -197825,
 666016,
 589771,
 489290,
 -471439,
 120417,
 175347,
 855449,
 605195,
 -235220,
 347138,
 298510,
 163254,
 1141840,
 542630,
 99841,
 752765,
 -252949,
 914424,
 679524,
 514377,
 462102,
 159782,
 878810,
 -946748,
 340335,
 292032,
 502266,
 265852,
 851017,
 -549615,
 290162,
 755391,
 1073202,
 313000,
 241132,
 1036589,
 853904,
 -388932,
 982952,
 537759,
 547784,
 -496214,
 854181,
 934719,
 -288531,
 -184383,
 659541,
 -1149123,
 355882,
 662284,
 518681,
 -748256,
 -910775,
 951227,
 898241,
 -729004,
 -112209,
 516313,
 607208,
 382539]